import json
import numpy as np
import pandas as pd
import os
import operator
import copy
from matplotlib import pyplot as plt
from matplotlib import rc
import argparse
import zipfile
from bs4 import BeautifulSoup
import requests
import json
import time
from subprocess import call
